<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Mi-parti</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [ngClass]="(currentPage === 'main') ? 'active' : ''">
        <a class="nav-link" href="#" (click)="onSelect('main')">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="(currentPage === 'orders') ? 'active' : ''">
        <a class="nav-link" href="#" (click)="onSelect('orders')">Бронирования</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Номер бронирования" style="width: 15rem;">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>
